*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
header{
    background-color: #573E94;
}
.linha1{
    display: inline;
}
.linha1 h2{
    color: #fff;
}
nav.menu1{
   float: right;
}
.clean{
    clear: both;
}